@{
    ViewBag.Title = "Contact";
}

@using (Clinic_Management_System.Models.KIITEntities db = new Clinic_Management_System.Models.KIITEntities())
{
    int memid = Convert.ToInt32(Session["Memberid"]);
    int getdata = db.MemberLogins.Where(a => a.MemberId == memid).Select(a => a.RoleId).SingleOrDefault();
    if (getdata == 1)
    {
        Html.RenderPartial("Patient_Sidebar");
    }
    else if (getdata == 2)
    {
        Html.RenderPartial("Doctor_Sidebar");
    }
    else if (getdata == 3)
    {
        Html.RenderPartial("Supplier_Sidebar");
    }
    else if (getdata == 4)
    {
        Html.RenderPartial("Admin_Sidebar");
    }
    else
    {

    }
}
<h1 align="center" style=" font-weight:bolder">About</h1>
<hr />

<div class="main">
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>